@media only screen and (max-width: 600px) {
    .card{
      justify-content: center;
      margin-left: 0.7rem;
    }
  }
body{
    background: #333;
    color: #fff;
}
.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}
#terms{
    font-size: 5px;
}
#home-section{
    background: url(home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,0.7);
}
#home-section .home-inner{
    padding-top: 150px;
}
.card{
    opacity: 0.8;
}
.fa-check{
    color: #008ed6;
    padding: 0.2rem;
}
.fas{
    background-color: white;
    border-radius: 5px;
}
#img1{
    width: 10px;
    border-radius: 50%;
}
#sp{
    color: #008ed6;
    padding: 0.2rem;
    border-radius: 5px;
}
#h1{
    margin-left: 1.5rem;
}
html{
    scroll-behavior: smooth;
}
